.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    padding: 3.2rem;
    z-index: 100;
}

.header__absolute {
    position: absolute;
    top: 0;
}

.header__title {
    font-size: clamp(1.4rem, 2.5vw, 2rem);
    font-weight: 600;
    color: inherit;

    display: flex;
    align-items: center;
}

.header__nav {
    display: flex;
    gap: 3.2rem;
}

.header__nav-items {
    font-size: clamp(1.2rem, 2.5vw, 2rem);;
    font-weight: 600;
    text-transform: uppercase;
}

.color-white {
    color: var(--color-white);
}

.color-black {
    color: var(--color-black);
}